body{
    margin: 0;
    padding: 20px;
}
.form-input, .form-textarea{
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}
.form-btn{
    display: block;
    float: right;
    margin-top: 3rem;
}
.form-checkbox{
    display: block;
}
.form-checkbox-label{
    text-align: left;
    margin-left: 2rem;
    margin-top: -1.2rem;
    margin-bottom: 2rem;
    display: block;
}
.form-container{
    display: flex;
    margin-top: 15rem;
    width: 50%;
    height: 20rem;
    margin: 5px;
    background-color: purple;
    padding-top: 3rem;
    margin-bottom: 5rem ;
    margin-left: 7rem;
    
}
.form{
    background-color: white;
    border: 1px solid #444;
    border-radius: 5px;
    margin-left: 1rem;
    margin-bottom: 2.2rem;
    padding-top: 1.9rem;
    margin-top: -0.7rem;
    width: 90%;
    height:85%  
  
}
.check{
    margin-right:0.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    
}
.check-label{
    margin-right: 2px;
}
.btn{
    background-color: purple;
    color: white;
    padding: 3px;
    border: 1px solid white;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
}